<?xml version="1.0"?>
<model>
  <name>imu_box</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Sebastián Tilaguy</name>
    <email>sebastian@example.com</email>
  </author>
  <description>Modelo de IMU ISM330DLC con plugin personalizado para Ignition Gazebo.</description>
</model>
