<?xml version="1.0"?>
<model>
  <name>force_box</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Sebastián Tilaguy</name>
    <email>sebastian.tilaguy@gmail.com</email>
  </author>
  <description>Force sensor to measuere the contact between cleaning tool with the window</description>
</model>